[submodule "xc8-wrapper"]
	path = xc8-wrapper
	url = https://github.com/s-celles/xc8-wrapper/
	branch = main

[submodule "ipecmd-wrapper"]
	path = ipecmd-wrapper
	url = https://github.com/s-celles/ipecmd-wrapper/
	branch = main
[submodule "platform-pic8bit"]
	path = platform-pic8bit
	url = https://github.com/s-celles/platform-pic8bit
	branch = main
[submodule "atpack-python-parser"]
	path = atpack-python-parser
	url = https://github.com/s-celles/atpack-python-parser
	branch = main
[submodule "xc8plusplus"]
	path = xc8plusplus
	url = https://github.com/s-celles/xc8plusplus
	branch = main
